

.app {
    /* height: 100vh; */
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.482), rgb(0, 29, 0));
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
    /* height: 100vh; */
    /* padding: 20px; */
    overflow-y: scroll;
    z-index: 200;
    position: absolute;
    
}



.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    gap: 20px;
    height: fit-content;
    width: 100%;
    margin-bottom: 40px;
    z-index: 2;
}

.overlay {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-self: center;
    align-self: center;
}

h2 {
    color: rgb(57, 255, 31);
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 0px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    width: 300px;
    position: relative;
}

.button-container button {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    background: rgb(57, 255, 31);
    cursor: pointer;
    width: 400px;
    border: none;
    outline: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-weight: bold;
    border: 1px solid rgb(57, 255, 31);
    z-index: 2;
    margin: 20px;
}

.digitize {
    margin: 0px;
}

button:hover {
    background: none;
    color: rgb(57, 255, 31);
}

.menu {
    /* position: absolute;
    top: 5%;
    left: 5%; */
    width: 80px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: flex-start;
}



.image-container video {
    height: 100%;
    width: 100%;
}
.image-container img  {
    height: 100%;
    width: 100%;
}

h3 {
    font-family: monospace;
    font-weight: bold;
    color: rgb(57, 255, 31);
}

.input-image {
    background: none;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    position: relative;
    border: 1px solid rgb(57, 255, 31);
    align-self: flex-start;
}

.slider-container {
    width: 300px;
}

.download-btn, .share-btn, .save-btn {
    background: rgb(57, 255, 31);
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    position: relative;
    border: 1px solid rgb(57, 255, 31);
    align-self: flex-start;
}
.download-btn:hover, .share-btn:hover, .save-btn:hover {
    background: none;
}

.download-btn img, .share-btn img, .save-btn img {
    height: 30%;
    width: 30%;
}
.download-btn:hover img, .share-btn:hover img, .save-btn:hover img {
    filter: brightness(0) saturate(100%) invert(60%) sepia(100%) saturate(472%) hue-rotate(75deg) brightness(104%) contrast(101%);
}

.saving-container {
    display: flex;
    width: 300px;
    align-items: center;
    gap: 10px;
    height: fit-content;
}
.saving-container p {
    color: rgb(57, 255, 31);
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
    button:hover {
        background: rgb(57, 255, 31);
        color: black;
    }
    .button-container {
        width: 270px;
        gap: 20px;
    }
    .digitize {
        width: 90%;
        margin: 0px;
    }
    .slider-container {
        width: 270px;
    }
    .download-btn:hover, .share-btn:hover, .save-btn:hover {
        background: rgb(57, 255, 31);
    }
    .download-btn:hover img, .share-btn:hover img, .save-btn:hover img {
        filter: none;
    }
}