.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.loading-container p {
    color: rgb(57, 255, 31);
}