.notify {
    height: 50px;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid rgb(57, 255, 31);
    border-radius: 3px;
    position: absolute;
    bottom: 5%;
    justify-self: center;
    align-self: center;
    z-index: 10;
    background: black;
}
.notify p {
    color: rgb(57, 255, 31);
    font-family: monospace;
}