.popup-share-container {
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 10;
}
.popup-share {
    display: block;
    height: fit-content;
    padding: 0px;
    background: rgb(57, 255, 31);
}

.popup-share ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0px;
    margin: 0px;
}

.popup-share ul li {
    height: 30px;
    width: 120px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: rgb(57, 255, 31);
    font-family:Verdana, Geneva, Tahoma, sans-serif;;
    margin: 0px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid rgb(57, 255, 31);
}

.popup-share ul li:hover {
    background: rgb(57, 255, 31);
    color: black;
}