

.preset-container {
    overflow-y: scroll;
    position: fixed;
    left: -150%;
    transition: left 0.3s ease;
    background: black;
    height: 100vh;
    width: 70%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    top: 0%;
}

.style-top {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0px;
}
.style-top button {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style-top h3 {
    justify-self: flex-end;
}

ul {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: fit-content;
    margin: 20px;
}

ul .preset-item::before {
    content: '';
    border: 1px solid green;
    height: 101%;
    width: 101%;
    position: absolute;
    bottom:0;
    top: 1%;
    left: 1%;
    z-index: -1;
}

ul .preset-item {
    height: 200px;
    width: fit-content;
    border: 1px solid rgb(57, 255, 31);
    list-style: none;
    /* margin-top: 10px; */
    max-height: 300px;
    position: relative;
    cursor: pointer;
}



ul .preset-item p {
    color: white;
    margin-left: 10px;
}

ul .preset-item img {
    max-height: 90%;
    max-width: 100%;
    width: auto;
    position: relative;
}


::-webkit-scrollbar {
    width: 12px;
    height: 2px; 
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    display: none; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    display: none; 
}

@media (max-width: 600px) {
    .preset-container {
        width: 90%;
    }
}